body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
background: linear-gradient(135deg, #ff4d6d, #ff758f);

    color: #333;
}

#three-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.95);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 500px; /* límite en PC */
}


h1 {
    color: #ff4d6d;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: #ff4d6d;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff1f4b;
}

.heart {
    font-size: 80px;
    animation: latido 1s infinite;
    margin-top: 20px;
}

@keyframes latido {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

.fade-in {
    animation: aparecer 2s ease forwards;
}

@keyframes aparecer {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}
.foto {
    width: 100%;
    max-height: 400px; /* límite en PC */
    object-fit: cover;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    transition: transform 0.5s ease;
}

.foto:hover {
    transform: scale(1.03);
}
